META-INF/
target/
.idea/
*.iml
node_modules
doc/manual/en/build/
src/frontend/node_modules/
src/frontend/dist/
src/backend/main/resources/META-INF/resources/app/
.m2/
tmp/
.env

# keycloak secrets
.env-keycloak
keycloak-realm.json